<mat-card color="primary">
    <mat-card-header color="primary">
        <mat-card-title>Lista de Lugares</mat-card-title>
        <mat-card-subtitle>Listado de Lugares del Sistema</mat-card-subtitle>
        <span class="spacer"></span>
        <div class="card-actions">
            <button mat-fab color="primary" (click)="abrirVentana()">
                <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
            </button>
            <button mat-fab color="warn" (click)="eliminarPlaces($event)">
                <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
            </button>
        </div>
        <span class="spacer-right"></span>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="dataSource" matSort matSortActive="name" multiTemplateDataRows matSortDisableClear matSortDirection="desc">
            <ng-container matColumnDef="seleccionado">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef> No.</th>
                <td mat-cell *matCellDef="let element">{{showIndex(element, i)}}</td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="ajustado"> Nombre</th>
                <td mat-cell *matCellDef="let element">
                    {{element.name}}
                </td>
            </ng-container>

            <ng-container matColumnDef="acciones" stickyEnd>
                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Acciones</th>
                <td mat-cell *matCellDef="let element" align="center" class="acciones table-actions-theme">
                    <button mat-mini-fab color="accent" (click)="editarPlace($event,element)" matTooltip="Editar Place">
                        <mat-icon>mode_edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn" (click)="eliminarPlace($event,element)" matTooltip="Eliminar Place">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"></tr>
        </table>
    </mat-card-content>
    <mat-card-footer>
        <mat-paginator [length]="resultsLength" [pageSize]="pageSize" [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
    </mat-card-footer>
</mat-card>
