.acciones button {
    margin-right: 5px;
}

.mat-column-seleccionado {
    width: 70px;
}

.mat-column-expandido {
    width: 50px;
}

.mat-column-acciones {
    width: 140px;
}

tr.detail-row {
    height: 0;
}

tr.element-row:not(.expanded-row):hover {
    background: #f5f5f5;
}

tr.element-row:not(.expanded-row):active {
    background: #efefef;
}

.element-row td {
    border-bottom-width: 0;
}

.element-detail {
    overflow: hidden;
    display: flex;
}

.element-description {
    padding: 16px;
    position: relative;
    left: 5%;
}

.element-description-attribution {
    opacity: 0.5;
}

.boton {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}
