<form class="form" [formGroup]="form" (submit)="insertarCompany()">
    <h1 mat-dialog-title style="margin: 0 0">{{insertar?'Nueva Empresa':'Modificar Empresa'}}
        <button type="button" mat-icon-button class="close-button" (click)="onNoClick()">
            <mat-icon style="font-size: 25px">close</mat-icon>
        </button>
        <hr>
    </h1>
    <div mat-dialog-content style="min-height: 100%;">
        <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" formControlName="name">
            <mat-error *ngIf="form.controls['name'].errors?.required">Debe insertar el nombre de la empresa</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="Cantidad de Buses a Contratar" formControlName="busCount" type="number">
            <mat-error *ngIf="form.controls['busCount'].errors?.required">Debe insertar la cantidad de buses de la empresa</mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="boton-theme">
        <span class="spacer"></span>
        <button type="submit" mat-raised-button cdkFocusInitial color="primary">
            <mat-icon>check_circle</mat-icon>
            {{insertar?'Guardar':'Modificar'}}
        </button>
        <button type="button" mat-raised-button (click)="onNoClick()" color="warn">
            <mat-icon>cancel</mat-icon>
            Cancelar
        </button>
    </div>
</form>
