<form class="form" [formGroup]="form" (submit)="insertarBus()">
    <h1 mat-dialog-title style="margin: 0 0" draggable-dialog>{{insertar?'Nuevo Bus':'Modificar Bus'}}
        <button type="button" mat-icon-button class="close-button" (click)="onNoClick()">
            <mat-icon style="font-size: 25px">close</mat-icon>
        </button>
        <hr>
    </h1>
    <div mat-dialog-content style="min-height: 100%;">
        <mat-form-field class="full-width">
            <input matInput placeholder="{{'bus.code'|translate}}" formControlName="code">
            <mat-error *ngIf="form.controls['code'].errors?.required">{{'bus.error.requiredCode'|translate}}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="{{'bus.number'|translate}}" formControlName="number" type="number">
            <mat-error *ngIf="form.controls['number'].errors?.required">{{'bus.error.requiredNumber'|translate}}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput placeholder="{{'bus.siteCount'|translate}}" formControlName="siteNumber" type="number">
            <mat-error *ngIf="form.controls['siteNumber'].errors?.required">{{'bus.error.requiredSiteCount'|translate}}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-select matInput placeholder="{{'bus.selectCompany'|translate}}" formControlName="company" [compareWith]="compararCompanies">
                <mat-option *ngFor="let company of companies" [value]="company">{{company.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['company'].errors?.required">{{'bus.error.requiredCompany'|translate}}</mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-select matInput placeholder="{{'bus.selectDevice'|translate}}" formControlName="device" [compareWith]="compararDevices">
                <mat-option *ngFor="let device of devices" [value]="device">{{device.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="form.controls['device'].errors?.required">{{'bus.error.requiredCompany'|translate}}</mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions class="boton-theme">
        <span class="spacer"></span>
        <button type="submit" mat-raised-button cdkFocusInitial color="primary">
            <mat-icon>check_circle</mat-icon>
            {{insertar?'Guardar':'Modificar'}}
        </button>
        <button type="button" mat-raised-button (click)="onNoClick()" color="warn">
            <mat-icon>cancel</mat-icon>
            Cancelar
        </button>
    </div>
</form>
