<header id="header" class="page-topbar">
    <!-- start header nav-->
    <div class="navbar-fixed">
        <nav class="navbar-color gradient-45deg-light-blue-cyan">
            <div class="nav-wrapper">
                <ul class="left">
                    <li>
                        <h1 class="logo-wrapper">
                            <a href="index.html" class="brand-logo darken-1">
                                <img src="/assets/images/logo/materialize-logo.png" alt="materialize logo">
                                <span class="logo-text hide-on-med-and-down">Materialize</span>
                            </a>
                        </h1>
                    </li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li>
                        <a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button" data-activates="translation-dropdown">
                            <span class="flag-icon flag-icon-gb"></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen">
                            <i class="material-icons">settings_overscan</i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown">
                            <i class="material-icons">notifications_none
                                <small class="notification-badge pink accent-2" *ngIf="notificaciones.length!==0">{{notificaciones.length}}</small>
                            </i>
                        </a>
                    </li>
                    <li style="margin-right: 23px">
                        <a href="javascript:void(0);" class="waves-effect waves-block waves-light profile-button" data-activates="profile-dropdown">
                  <span class="avatar-status avatar-online">
                    <img src="/assets/images/avatar/avatar-7.png" alt="avatar">
                    <i></i>
                  </span>
                        </a>
                    </li>
                </ul>
                <!-- translation-button -->
                <ul id="translation-dropdown" class="dropdown-content">
                    <li *ngFor="let leng of languages" (click)="changeLanguage(leng.path)">
                        <a href="javascript:void(0)" class="{{leng.class}}">
                            <i class="{{leng.icon}}"></i> {{leng.title}}</a>
                    </li>
                </ul>
                <!-- notifications-dropdown -->
                <ul id="notifications-dropdown" class="dropdown-content">
                    <li>
                        <h6>NOTIFICATIONS
                            <span class="badge new">{{notificaciones.length==0?'Sin Notificaciones':notificaciones.length+' new'}}</span>
                        </h6>
                    </li>
                    <li class="divider"></li>
                    <li *ngFor="let notificacion of notificaciones" [routerLink]="['/notification',notificacion.id]" style="min-width: 200px;">
                        <a class="grey-text text-darken-2">
                            <span class="material-icons icon-bg-circle cyan small">{{notificacion.icono}}</span> {{notificacion.title}}</a>
                        <time class="media-meta">
                            <mat-icon style="font-size: 14px;width: 14px;height: 14px;position: relative;top: 2px;">access_time</mat-icon>
                            {{notificacion.mensaje}}
                        </time>
                    </li>
                    <!--<li>-->
                    <!--<a href="#!" class="grey-text text-darken-2">-->
                    <!--<span class="material-icons icon-bg-circle red small">stars</span> Completed the task</a>-->
                    <!--<time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#!" class="grey-text text-darken-2">-->
                    <!--<span class="material-icons icon-bg-circle deep-orange small">today</span> Director meeting started</a>-->
                    <!--<time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--<a href="#!" class="grey-text text-darken-2">-->
                    <!--<span class="material-icons icon-bg-circle amber small">trending_up</span> Generate monthly report</a>-->
                    <!--<time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>-->
                    <!--</li>-->
                </ul>
                <!-- profile-dropdown -->
                <ul id="profile-dropdown" class="dropdown-content" style="width: 200px">
                    <li>
                        <a routerLink="/user-profile" class="grey-text text-darken-1">
                            <i class="material-icons">face</i> Perfil</a>
                    </li>
                    <li>
                        <a href="#" class="grey-text text-darken-1">
                            <i class="material-icons">settings</i> Configuración</a>
                    </li>
                    <li>
                        <a href="#" class="grey-text text-darken-1">
                            <i class="material-icons">live_help</i> Ayuda</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#" class="grey-text text-darken-1">
                            <i class="material-icons">lock_outline</i> Bloquear</a>
                    </li>
                    <li>
                        <a routerLink="/login" class="grey-text text-darken-1">
                            <i class="material-icons">keyboard_tab</i> Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
