<nav class="navbar-1">
    <ul class="nav nav-inline navbar-left">
        <li class="nav-item" (click)="cambiarBarra()">
            <a class="nav-link toggle-layout">
                <i class="material-icons menu">menu</i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link toggle-fullscreen">
                <i class="material-icons">fullscreen</i>
            </a>
        </li>
        <li class="nav-item dropdown user-dropdown">
            <a class="nav-link dropdown-toggle no-after" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">language</i>
            </a>
            <div class="dropdown-menu dropdown-menu-left from-left" style="top: 65%;">
                <a class="dropdown-item grey-text text-darken-1" *ngFor="let lenguaje of languages" (click)="changeLanguage(lenguaje.path)">
                    <i class="{{lenguaje.icon}}" style="margin-right: 10px"></i>
                    <span>{{lenguaje.title}}</span>
                </a>
            </div>
        </li>
    </ul>

    <span class="welcome">{{'hello'|translate}}, {{usuario|usuario}}</span>
    <div class="dropdown user-dropdown">
        <a class="dropdown-toggle no-after" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="crearNotificacion()">
            <div class="badge badge-40">
                <span class="tag tag-sm tag-rounded tag-warning">{{notificaciones.length}}</span>
                <img src="assets/faces/m7.png" class="max-w-40 img-circle" alt="badge">
            </div>
        </a>
        <app-user-menu class="dropdown-menu dropdown-menu-right from-right" style="z-index: 1500"></app-user-menu>
    </div>
</nav>
<div class="jumbotron-1">
    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid">
            <h1 class="display-3">{{pageTitle|async}}</h1>
            <ol class="breadcrumb icon-home icon-angle-right no-bg">
                <li *ngFor="let title of titulos|async" [class.active]="title.active">
                    {{title.title}}
                </li>
            </ol>
            <button type="button" class="btn btn-secondary bmd-btn-fab" data-toggle="dropdown">
                <i class="material-icons md-30">more_vert</i>
            </button>
            <app-user-menu class="dropdown-menu dropdown-menu-right from-right"></app-user-menu>
        </div>
    </div>
</div>
