.headers-align mat-expansion-panel-header,
.headers-align mat-panel-description {
    flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.example-container {
    height: 300px;
    overflow: auto;
}

table {
    width: 100%;
}

.mat-column-acciones {
    width: 40px;
}

.time-middle-width {
    width: 48%;
}

.time-middle-width:nth-child(2n+1) {
    margin-right: 20px;
}

.time-picker-component mat-form-field {
    width: 82%;
}

