<h1 mat-dialog-title style="margin: 0 0">{{insertar?'Nuevo Viaje':'Modificar Viaje'}}
    <button type="button" mat-icon-button class="close-button" (click)="onNoClick()">
        <mat-icon style="font-size: 25px">close</mat-icon>
    </button>
    <hr style="opacity: 100%">
</h1>
<div mat-dialog-content style="min-height: 100%;padding: 0;overflow: hidden;">
    <mat-horizontal-stepper linear labelPosition="end">
        <mat-step [stepControl]="formViaje" label="Datos del Viaje">
            <form class="form" [formGroup]="formViaje" (submit)="insertarTravel()">
                <mat-expansion-panel [expanded]="true" (opened)="setStep(0)" hideToggle>
                    <mat-expansion-panel-header class="headers-align">
                        <mat-panel-title>
                            Destino
                        </mat-panel-title>
                        <mat-panel-description>
                            Escribir datos del viaje
                            <mat-icon>map</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-form-field class="middle-width">
                        <mat-select matInput placeholder="Seleccione la ruta del viaje" formControlName="route" [compareWith]="compararRoutes">
                            <mat-option *ngFor="let route of routes" [value]="route">{{route|route}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formViaje.controls['route'].errors?.required">Debe seleccionar la ruta del viaje</mat-error>
                    </mat-form-field>
                    <mat-form-field class="middle-width">
                        <mat-select matInput placeholder="Seleccione el bus del viaje" formControlName="bus" [compareWith]="compararBuses">
                            <mat-option *ngFor="let bus of buses" [value]="bus">{{bus.code}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="formViaje.controls['bus'].errors?.required">Debe seleccionar el bus que realizará el viaje</mat-error>
                    </mat-form-field>
                    <mat-slide-toggle formControlName="active">{{formViaje.controls['active'].value?'Activo':'Inactivo'}}</mat-slide-toggle>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="true" (opened)="setStep(1)" hideToggle>
                    <mat-expansion-panel-header class="headers-align">
                        <mat-panel-title>
                            Fecha de Viaje
                        </mat-panel-title>
                        <mat-panel-description>
                            Inserte fecha de viaje y fecha de arrivo
                            <mat-icon>date_range</mat-icon>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-form-field class="middle-width">
                        <input matInput [matDatepicker]="travelDatePicker" formControlName="travelDate" placeholder="Fecha de Viaje" [min]="minDate" [errorStateMatcher]="matcher">
                        <mat-datepicker-toggle matSuffix [for]="travelDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #travelDatePicker></mat-datepicker>
                        <mat-error *ngIf="formViaje.controls['travelDate'].hasError('required')">Debe seleccionar una fecha de viaje.</mat-error>
                        <mat-error *ngIf="formViaje.controls['travelDate'].hasError('min')">Debe seleccionar una fecha de viaje.</mat-error>
                    </mat-form-field>
                    <mat-form-field class="middle-width">
                        <input matInput [matDatepicker]="arriveDatePicker" formControlName="arriveDate" placeholder="Fecha de Arrivo" [min]="minDate" [errorStateMatcher]="matcher">
                        <mat-datepicker-toggle matSuffix [for]="arriveDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #arriveDatePicker></mat-datepicker>
                        <mat-error *ngIf="formViaje.controls['arriveDate'].hasError('required')">Debe seleccionar una fecha de arrivo.</mat-error>
                        <mat-error *ngIf="formViaje.controls['arriveDate'].errors?.min">Debe seleccionar una fecha mayor.</mat-error>
                    </mat-form-field>
                    <div class="time-middle-width time-picker-component" style="display: inline-block">
                        <mat-form-field>
                            <input matInput placeholder="Hora de Viaje" formControlName="travelTime" (click)="showPicker($event,formViaje.controls['travelTime'])">
                            <mat-error *ngIf="formViaje.controls['travelTime'].errors?.required">Debe seleccionar la hora de viaje</mat-error>
                        </mat-form-field>
                        <button type="button" mat-icon-button (click)="showPicker($event,formViaje.controls['travelTime'])">
                            <mat-icon>access_time</mat-icon>
                        </button>
                    </div>
                    <div class="time-middle-width time-picker-component" style="display: inline-block">
                        <mat-form-field>
                            <input matInput placeholder="Hora de Llegada" formControlName="arriveTime" (click)="showPicker($event,formViaje.controls['arriveTime'])">
                            <mat-error *ngIf="formViaje.controls['arriveTime'].errors?.required">Debe seleccionar la hora de viaje</mat-error>
                        </mat-form-field>
                        <button type="button" mat-icon-button (click)="showPicker($event,formViaje.controls['arriveTime'])">
                            <mat-icon>access_time</mat-icon>
                        </button>
                    </div>
                    <mat-action-row class="boton-theme">
                        <button mat-raised-button color="primary" style="margin-right: 10px;">Siguiente
                            <mat-icon>navigate_next</mat-icon>
                        </button>
                        <button type="button" mat-raised-button (click)="onNoClick()" color="warn">
                            <mat-icon>cancel</mat-icon>
                            Cancelar
                        </button>
                    </mat-action-row>
                </mat-expansion-panel>
            </form>
        </mat-step>
        <mat-step [stepControl]="formPasajero" label="Datos del Pasajero">
            <form class="form" [formGroup]="formPasajero" (submit)="addPassenger()" class="table-actions-theme">
                <button type="button" mat-mini-fab (click)="newPlace()" color="primary" style="float: right;margin-right: 5px;margin-top: 5px">
                    <mat-icon>add</mat-icon>
                </button>
                <mat-form-field style="float: right;margin-right: 10px;width: 40%">
                    <mat-select matInput placeholder="Seleccione el lugar del viaje" formControlName="place" [compareWith]="compararLugares">
                        <mat-option *ngFor="let place of places" [value]="place">{{place.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="formPasajero.controls['place'].errors?.required">Debe seleccionar lugar del viaje</mat-error>
                </mat-form-field>
                <div formGroupName="passenger">
                    <div class="middle-width">
                        <mat-form-field style="margin-right: 15px;width: 15.6em;">
                            <input matInput #dniInput placeholder="Documento de Identidad (DNI)" formControlName="dni" type="number" [matAutocomplete]="dniInput" (keyup)="filterDnis()">
                            <mat-autocomplete #dniInput="matAutocomplete" (optionSelected)="seleccionarPassenger($event)">
                                <mat-option *ngFor="let passenger of filteredPassengers" [value]="passenger.dni">
                                    {{passenger.dni}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="formPasajero.get('passenger.dni').hasError('required')">Debe insertar el dni de la persona</mat-error>
                        </mat-form-field>
                        <button type="button" mat-mini-fab (click)="findPassenger(formPasajero.get('passenger.dni').value)" color="primary">
                            <mat-icon>search</mat-icon>
                        </button>
                    </div>
                    <mat-form-field class="middle-width">
                        <input matInput placeholder="Nombre" formControlName="name">
                        <mat-error *ngIf="formPasajero.get('passenger.name').hasError('required')">Debe insertar el nombre de la persona</mat-error>
                    </mat-form-field>

                    <mat-form-field class="middle-width" style="margin: 0 0 0 20px">
                        <input matInput placeholder="Apellidos" formControlName="lastname">
                        <mat-error *ngIf="formPasajero.get('passenger.lastname').hasError('required')">Debe insertar los apellidos de la persona</mat-error>
                    </mat-form-field>

                </div>
                <mat-action-row class="boton-theme" style="clear: both;top: 10px;position: relative">
                    <button mat-raised-button color="warn" (click)="prevStep()" type="button" style="margin-right: 10px;" matStepperPrevious>
                        <mat-icon>navigate_before</mat-icon>
                        Anterior
                    </button>
                    <button mat-raised-button color="primary" style="margin-right: 10px;">{{insertarPassenger?'Añadir Viajero':'Editar Pasajero'}}</button>
                    <button type="button" mat-raised-button color="primary" (click)="finalizar()">
                        Finalizar
                    </button>
                </mat-action-row>
                <div>
                    <button mat-button>Eliminar</button>
                </div>
                <div class="example-container mat-elevation-z8" style="top: -30px;position:relative;">
                    <table mat-table [dataSource]="dataSource">
                        <!-- Position Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Nombre</th>
                            <td mat-cell *matCellDef="let element"> {{element.passenger.name}}</td>
                            <td mat-footer-cell *matFooterCellDef> Total </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="lastname">
                            <th mat-header-cell *matHeaderCellDef> Apellidos</th>
                            <td mat-cell *matCellDef="let element"> {{element.passenger.lastname}}</td>
                            <td mat-footer-cell *matFooterCellDef>{{getTotal()}}</td>
                        </ng-container>

                        <!-- Weight Column -->
                        <ng-container matColumnDef="dni">
                            <th mat-header-cell *matHeaderCellDef> DNI</th>
                            <td mat-cell *matCellDef="let element"> {{element.passenger.dni}}</td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="place">
                            <th mat-header-cell *matHeaderCellDef> Lugar</th>
                            <td mat-cell *matCellDef="let element"> {{element.place|place}}</td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>
                        <!-- Symbol Column -->
                        <ng-container matColumnDef="acciones" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef> Acciones</th>
                            <td mat-cell *matCellDef="let element">
                                <button mat-mini-fab type="button" color="accent" (click)="editarPassenger($event,element)" matTooltip="Editar Pasajero">
                                    <mat-icon>mode_edit</mat-icon>
                                </button>
                            </td>
                            <td mat-footer-cell *matFooterCellDef></td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
                    </table>
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>
<!--<div mat-dialog-actions class="boton-theme">-->
<!--<span class="spacer"></span>-->
<!--<button type="submit" mat-raised-button cdkFocusInitial color="primary">-->
<!--<mat-icon>check_circle</mat-icon>-->
<!--{{insertar?'Guardar Viaje':'Modificar Viaje'}}-->
<!--</button>-->
<!--<button type="button" mat-raised-button (click)="onNoClick()" color="warn">-->
<!--<mat-icon>cancel</mat-icon>-->
<!--Cancelar-->
<!--</button>-->
<!--</div>-->
