<div class="row m-b-40">
    <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Visitas Diarias</h4>
                <p class="card-subtitle text-muted">Medium</p>
            </div>
            <div class="card-block">
                <div style="display: block">
                    <canvas baseChart
                            [datasets]="barChartData"
                            [labels]="barChartLabels"
                            [options]="barChartOptions"
                            [legend]="barChartLegend"
                            [chartType]="barChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
                <button mat-raised-button color="primary" (click)="randomize()">Update</button>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6">
        <div class="card">
            <div class="card-block with-badge">
                <div class="badge badge-40">
                    <span class="tag tag-rounded tag-info">1</span>
                </div>
                <h4 class="card-title">Card header with badge</h4>
                <p class="card-subtitle text-muted">Lorem ipsum dolor sit amet</p>
            </div>
            <div class="card-block">
                <div style="display: block">
                    <canvas baseChart
                            [data]="polarAreaChartData"
                            [labels]="polarAreaChartLabels"
                            [legend]="polarAreaLegend"
                            [chartType]="polarAreaChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6">
        <div class="card">
            <div class="card-block with-badge">
                <div class="badge badge-40">
                    <span class="tag tag-rounded tag-info">1</span>
                </div>
                <h4 class="card-title">Card header with badge</h4>
                <p class="card-subtitle text-muted">Lorem ipsum dolor sit amet</p>
            </div>
            <div class="card-block">
                <div style="display: block">
                    <canvas baseChart
                            [data]="pieChartData"
                            [labels]="pieChartLabels"
                            [chartType]="pieChartType"
                            (chartHover)="chartHovered($event)"
                            (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
