<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<div id="login-page" class="row" style="width: 400px;margin:auto;padding-top: 6%">
    <div class="frente" [style.display]="isLoading ? 'block' : 'none'"></div>
    <div class="col s12 z-depth-4 card-panel disabled">
        <mat-progress-bar mode="indeterminate" class="progreso" [style.display]="isLoading ? 'block' : 'none'"></mat-progress-bar>
        <form class="login-form" [formGroup]="form" (submit)="resetPassword()" style="padding-top: 10%" [attr.disabled]="isLoading">
            <div class="row">
                <div class="input-field col s12 center" style="text-align: center">
                    <img src="assets/images/logo/logo.jpg" alt="" class="circle responsive-img valign profile-image-login" style="width: 150px;height: 150px">
                    <p class="center login-form-text" style="text-align: center;margin-top: 30px">Sistema para el control de buses</p>
                </div>
            </div>
            <div class="row margin">
                <div class="col s1" style="margin-left: 27px">
                    <i class="material-icons prefix pt-5">email</i>
                </div>
                <div class="col s10" style="position: relative;top: -15px;">
                    <mat-form-field class="full-width" style="width: 95%">
                        <input matInput placeholder="Correo Electrónico" formControlName="email">
                        <mat-error *ngIf="form.controls['email'].errors?.required">Debe insertar el correo electrónico</mat-error>
                        <mat-error *ngIf="form.controls['email'].errors?.email">Debe insertar el correo electrónico válido</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12" style="min-height: 20px;text-align: center;position: relative;top: -7px;color:red;left: 11px;">
                    <span>{{mensaje}}</span>
                </div>
                <div class="input-field col s12" style="padding: 0 30px">
                    <button class="col s12 login-btn" mat-flat-button color="primary" style="width: 104%" [disabled]="!form.valid">Reinicar Contraseña
                        <mat-icon>keyboard_arrow_right</mat-icon>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s7 m7 l7">
                    <p class="margin right-align medium-small">
                        <a routerLink="/login">{{'login.toLogin'|translate}}</a>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="hiddendiv common"></div>
