<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="left-sidebar-1">
            <div class="wrapper">
                <div class="content" style="background: url('assets/images/logo/fondo.jpg') no-repeat;background-size: 100% 27%">
                    <div class="logo">
                        <a href="#" class="text" style="font-size: 22px;position: relative;top: 40px;">
                            <i class="fa fa-adjust"></i>
                            <span>Bus GPS Tracking</span>
                        </a>
                    </div>
                    <div class="sidebar-heading">
                        <div class="sidebar-image">
                            <img src="assets/faces/m7.png" class="img-circle img-fluid" alt="sidebar-image"/>
                        </div>
                        <div class="sidebar-options">
                            <div class="dropdown">
                                <a href="#" class="btn btn-secondary btn-raised dropdown-toggle" data-toggle="dropdown">
                                    {{usuario|usuario}} </a>
                                <div class="dropdown-menu dropdown-menu-center from-top">
                                    <a class="dropdown-item" routerLink="/user/notification">
                                        <i class="material-icons icon">email</i>
                                        <span class="title">Inbox</span>
                                        <span class="pull-xs-right tag tag-pill tag-raised tag-danger tag-xs">New</span>
                                    </a>
                                    <a class="dropdown-item" routerLink="/user/notification">
                                        <i class="material-icons icon">grade</i>
                                        <span class="title">{{'notifications'|translate}}</span>
                                        <span class="pull-xs-right tag tag-outline-primary tag-rounded tag-xs">{{cantidadNotificaciones|async}}</span>
                                    </a>
                                    <a class="dropdown-item" routerLink="/user/profile">
                                        <i class="material-icons icon">settings</i>
                                        <span class="title">{{'userprofile'|translate}}</span>
                                    </a>
                                    <a class="dropdown-item" href="#">
                                        <i class="material-icons icon">alarm</i>
                                        <span class="title">{{'accountlock'|translate}}</span>
                                    </a>
                                    <a class="dropdown-item" routerLink="/login">
                                        <i class="material-icons icon">power_settings_new</i>
                                        <span class="title">{{'usuario.logout'|translate}}</span>
                                    </a>
                                </div>
                            </div>
                            <div class="description">
                                {{rol|async}}
                            </div>
                        </div>
                    </div>
                    <div style="position:fixed; bottom: 0px;height: 150px;background-color: #1b5e20;width: 305px;"></div>
                    <div class="left-sidebar-section">
                        <mat-divider></mat-divider>
                        <ul class="list-unstyled" id="navigation">
                            <li *ngFor="let menu of rutasUsuario">
                                <button class="btn btn-flat collapsed" data-toggle="collapse" data-parent="#navigation" [attr.data-target]="'#'+menu.id" *ngIf="menu.hasChildren">
                                    <span class="{{menu.class}}">{{menu.routes.length}}</span>
                                    <span class="btn-title">{{menu.title|translate}}</span>
                                    <i class="material-icons pull-left icon">{{menu.icon}}</i>
                                    <i class="pull-right fa fa-caret-down" *ngIf="menu.hasChildren"></i>
                                </button>
                                <div class="collapse" id="{{menu.id}}" *ngIf="menu.hasChildren" routerLinkActive="in">
                                    <ul class="list-unstyled">
                                        <li *ngFor="let menuItem of menu.routes">
                                            <a [routerLink]="menuItem.path" class="btn btn-flat" style="padding-left: 40px">
                                                <i class="material-icons pull-left icon">{{menuItem.icon}}</i>
                                                <span class="title">{{menuItem.title|translate}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <a [routerLink]="menu.path" class="btn btn-flat" *ngIf="!menu.hasChildren" routerLinkActive="active">
                                    <span class="{{menu.class}}" *ngIf="menu.title=='notifications'">{{cantidadNotificaciones|async}}</span>
                                    <i class="material-icons pull-left icon">{{menu.icon}}</i>
                                    <span class="title">{{menu.title|translate}}</span>
                                </a>
                            </li>
                        </ul>
                        <mat-divider></mat-divider>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 main">
            <div class="page-on-top" [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
                <router-outlet #o="outlet"></router-outlet>
            </div>
        </div>
    </div>
</div>
