<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Localizator</title>
        <base th:href="@{/}">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <script>
            localStorage.setItem("serverUrl", "http://localhost:8050/Bus/");
            localStorage.setItem("socketDir", "ws://localhost:8050/Bus/localizator/");
        </script>
    </head>
    <body class="animated fadeIn" id="dashboards-analytics" data-layout="default-sidebar-1" data-sidebar="primary" data-navbar="primary" data-controller="dashboards" data-view="analytics" #body>
        <app-root></app-root>
        <script type="text/javascript" th:src="@{/recursos/static/runtime.js}"></script>
        <script type="text/javascript" th:src="@{/recursos/static/polyfills.js}"></script>
        <script type="text/javascript" th:src="@{/recursos/static/styles.js}"></script>
        <script type="text/javascript" th:src="@{/recursos/static/scripts.js}"></script>
        <script type="text/javascript" th:src="@{/recursos/static/vendor.js}"></script>
        <script type="text/javascript" th:src="@{/recursos/static/main.js}"></script>
    </body>
</html>
