<div>
    <a class="dropdown-item" routerLink="/notification">
        <i class="material-icons icon">email</i>
        <span class="title">Inbox</span>
        <span class="tag tag-pill tag-raised tag-danger tag-xs">New</span>
    </a>
    <a class="dropdown-item" routerLink="/notification">
        <i class="material-icons icon">grade</i>
        <span class="title">{{'notifications'|translate}}</span>
        <span class="tag tag-outline-primary tag-rounded tag-xs">5</span>
    </a>
    <a class="dropdown-item" routerLink="/user-profile">
        <i class="material-icons icon">settings</i>
        <span class="title">{{'userprofile'|translate}}</span>
    </a>
    <a class="dropdown-item" href="#">
        <i class="material-icons icon">alarm</i>
        <span class="title">{{'accountlock'|translate}}</span>
    </a>
    <a class="dropdown-item" routerLink="/login">
        <i class="material-icons icon">power_settings_new</i>
        <span class="title">{{'usuario.logout'|translate}}</span>
    </a>
</div>
